#navbar {
    position: sticky;
    left: 0;
    height: 100%;
    width: 10vw;
    text-align: left;
}

ul {
    list-style-type: none;
}

@media (min-width: 720px) {
    #navbar {
        position: sticky;
        left: 0;
        height: 100vh;
        width: 10vw;
    }
}

#main-doc {
    text-wrap: wrap;
}