#playing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: lightpink;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#heart {
    color: red;

}

.card {
    display: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    padding: 10px;
    margin: auto;
    border-top: 2px solid rgba(42, 40, 40, 0.78);
    border-left: 2px solid rgba(42, 40, 40, 0.78);
    border-bottom: 4px solid rgba(88, 84, 84, 0.78);
    border-right: 4px solid rgba(88, 84, 84, 0.78);
    box-shadow: 10px 3px 10px rgb(92, 92, 92);
    border-radius: 10px;
    background-color: #f2f4f5;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
}

.middle {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 2px solid green;
}

.right {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
}