input:first-of-type {
    font-weight: bold;
}

.data {
    display: block;
}

input:focus,
textarea:focus {
    border-color: lightblue;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: forestgreen;
}

button:hover {
    background-color: lightblue;
}

.radio-group input[type="radio"]:checked {
    border-color: forestgreen;
    background-color: mediumseagreen;
}

.radio-group label:checked {
    color: navy;
}